<div class="position-fixed top-0 end-0 p-3">
  <% flash.to_hash.with_indifferent_access.each do |type, f| %>
    <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        <% case f %>
        <% when String %>
          <div><%= sanitize f %></div>
        <% when Hash %>
          <div><%= sanitize f[:message] %></div>

          <% f[:actions].each do |action| %>
            <%= link_to action[:title], action[:url], class: "btn btn-sm btn-primary me-1" %>
          <% end %>
        <% end %>

      </div>
    </div>
  <% end %>
</div>
