    <div class="maincolumn w-row">
      <div class="profilleft w-col w-col-3">
        <div class="companyprofileleft">
          <div class="bearbeiten-button-2">
            <div class="pencil-icon"></div>
            <div class="text-block-12">bearbeiten</div>
          </div>
          <div class="top company">
            <div class="hexagon">
              <div class="hex1">
                <div class="hex2"></div>
              </div>
            </div>
            <div class="companyname">XY GmbH</div>
            <div class="tagsection w-clearfix">
              <div class="stadttag">Essen</div>
              <div class="comma">,</div>
              <div class="landtag">Deutschland</div>
            </div>
            <div class="classtagsection">
              <div class="classtag">Händler</div>
              <div class="classtag">Produzent</div>
            </div>
            <div class="unternehmensinfo">
              <div class="gr-e">
                <div class="icongr-e"></div>
                <div class="text-block-24">Unternehmensgröße</div>
                <div class="text-block-25">10 - 50</div>
              </div>
              <div class="industrie">
                <div class="iconindustrie"></div>
                <div class="industrietxt">Indsutrie</div>
              </div>
            </div>
            <div class="zweigstellenwrapper">
              <a href="#" class="zweigstellenbutton w-inline-block">
                <div class="zweigstellen">Zweigstellen</div>
                <div class="countzweig">(0)</div>
              </a>
              <a href="#" class="kontaktpersonenbutton w-inline-block">
                <div class="ktperson">Kontaktpersonen</div>
                <div class="count-kt">(3)</div>
              </a>
            </div>
            <div class="dppwrapper">
              <div class="d">
                <div class="d-count">3</div>
                <div class="d-txt">Dienstleistungen</div>
              </div>
              <div class="p">
                <div class="p-count">22</div>
                <div class="p-txt">Produkte</div>
              </div>
              <div class="p-2">
                <div class="p2-count">0</div>
                <div class="p2-txt">Produktions-verfahren</div>
              </div>
            </div>
          </div>
          <div class="middle company w-clearfix">
            <div class="email">
              <div class="text-block-9">E-Mail</div>
              <a href="#" class="companymail textlink w-inline-block">
                <div class="text-block-22">kontak@xy-gmbh.de</div>
              </a>
            </div>
            <div class="phone">
              <div class="text-block-9">Phone</div>
              <a href="#" class="companyphone textlink w-inline-block">
                <div class="text-block-21">+49 201 234567</div>
              </a>
            </div>
            <div class="mobile">
              <div class="text-block-9">Mobile</div>
              <a href="#" class="companyphone textlink w-inline-block">
                <div>-</div>
              </a>
            </div>
            <div class="adresse">
              <div class="text-block-9">Adresse</div>
              <div class="companyadresse textlink">
                <div class="text-block-10">Stahlweg 5, 45279 Essen Deutschland</div>
              </div>
            </div>
            <div class="web">
              <div class="text-block-9">Web</div>
              <a href="#" class="companysite textlink w-inline-block">
                <div class="text-block-11">kontak@xy-gmbh.de</div>
              </a>
            </div>
          </div>
          <div class="bottom company">
            <div class="socials-company">
              <a href="#" class="sociallink-profil w-inline-block">
                <div class="social-profile"></div>
              </a>
              <a href="#" class="sociallink-profil w-inline-block">
                <div class="social-profile"></div>
              </a>
              <a href="#" class="sociallink-profil w-inline-block">
                <div class="social-profile"></div>
              </a>
              <a href="#" class="sociallink-profil w-inline-block">
                <div class="social-profile"></div>
              </a>
              <a href="#" class="sociallink-profil w-inline-block">
                <div class="social-profile"></div>
              </a>
            </div>
            <div class="zertifikate-zulassungen">
              <div class="zertifikate w-clearfix">
                <div class="iconz"></div>
                <div class="text-block-23">Zertifikate</div>
                <div class="count">(5)</div>
              </div>
              <div class="zulassungen w-clearfix">
                <div class="iconz2"></div>
                <div class="text-block-23">Zulassungen</div>
                <div class="count">(5)</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="firmenprofil-etc w-col w-col-9">
        <div class="filterbuttons-wrapper">
          <div class="firmenprofilbutton aktiv w-clearfix">
            <div class="text-block-28">Firmenprofil</div>
          </div>
          <div class="zweigstellenbutton2 w-clearfix">
            <div class="text-block-28">Zweigstellenbutton</div>
            <div class="count">(0)</div>
          </div>
          <div class="kontaktpersonenbutton2 notaktiv w-clearfix">
            <div class="text-block-28">Kontaktpersonen</div>
            <div class="count">(3)</div>
          </div>
        </div>
        <div class="firmenprofilwrapper">
          <div class="columns-2 w-row">
            <div class="column-3 w-col w-col-3">
              <div class="hexagon-big">
                <div class="hex1">
                  <div class="hex2 profil"><img src="images/stock-vector-male-avatar-profile-picture-vector-149083895.jpg" loading="lazy" sizes="(max-width: 1919px) 120px, 200px" srcset="images/stock-vector-male-avatar-profile-picture-vector-149083895-p-500.jpeg 500w, images/stock-vector-male-avatar-profile-picture-vector-149083895-p-800.jpeg 800w, images/stock-vector-male-avatar-profile-picture-vector-149083895-p-1080.jpeg 1080w, images/stock-vector-male-avatar-profile-picture-vector-149083895.jpg 1500w" alt="" class="image-4"></div>
                </div>
              </div>
            </div>
            <div class="column-4 w-col w-col-9">
              <div class="infowrapper">
                <div class="div-block-2">
                  <div class="bearbeiten-button">
                    <div class="pencil-icon"></div>
                    <div class="text-block-12">bearbeiten</div>
                  </div>
                </div>
                <div class="namewrapper">
                  <h2 class="profilname-big">XY Gmbh</h2>
                  <div class="stadttag">Essen</div>
                  <div class="landtag">Deutschland</div>
                </div>
                <div class="profilinfo">
                  <div class="w-row">
                    <div class="w-col w-col-6">
                      <div class="daten">Kontaktdaten</div>
                      <div class="kontaktdaten2">
                        <div class="formfieldname-2">Email</div>
                        <div class="datashow">l.knopp@xy-gmbh.de</div>
                        <div class="formfieldname-2">Phone</div>
                        <div class="datashow">+49 201 234567 - 56</div>
                        <div class="formfieldname-2">Mobile</div>
                        <div class="datashow">+49 173 - 59468668</div>
                        <div class="formfieldname-2">Web</div>
                        <div class="datashow">www.xy-gmbh.de</div>
                      </div>
                    </div>
                    <div class="column-5 w-col w-col-6">
                      <div class="daten">Standort</div>
                      <div class="standort-2">
                        <div class="formfieldname-2">Straße</div>
                        <div class="datashow">Stahlweg 5</div>
                        <div class="formfieldname-2">PLZ</div>
                        <div class="datashow">45279</div>
                        <div class="formfieldname-2">Stadt</div>
                        <div class="datashow">Essen</div>
                        <div class="formfieldname-2">Land</div>
                        <div class="datashow">Deutschland</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="columns-4 w-row">
          <div class="profildatenco w-col w-col-8 w-col-stack">
            <div class="profildatenhead">
              <div class="ihrepartner">Profildaten</div>
            </div>
            <div class="firmeninfowrapper">
              <div class="firmeninfo">
                <div class="daten">Firmeninfo</div>
                <div class="columns-3 w-row">
                  <div class="w-col w-col-6">
                    <div class="eingabe w-form">
                      <form id="email-form" name="email-form" data-name="Email Form" class="dateneingabe-select"><label for="Passwort" class="formfieldname">Unternehmensgröße</label><select id="Branche" name="Branche" required="" data-name="Branche" class="selectfield w-select">
                          <option value="Another Choice">10 - 50 Personen</option>
                          <option value="Another Choice">51 - 100 Personen</option>
                          <option value="Another Choice">101 - 200 Personen</option>
                          <option value="Another Choice">200 + Personen</option>
                        </select></form>
                      <div class="w-form-done">
                        <div>Thank you! Your submission has been received!</div>
                      </div>
                      <div class="error-message-2 w-form-fail">
                        <div>Bitte füllen Sie alle Felder die mit einem "*" markiert sind aus.</div>
                      </div>
                    </div>
                  </div>
                  <div class="w-col w-col-6">
                    <div class="eingabe w-form">
                      <form id="email-form" name="email-form" data-name="Email Form" class="dateneingabe-select"><label for="Passwort" class="formfieldname">Branche </label><select id="Branche-2" name="Branche-2" required="" data-name="Branche 2" class="selectfield2 w-select">
                          <option value="">Industrie</option>
                        </select></form>
                      <div class="w-form-done">
                        <div>Thank you! Your submission has been received!</div>
                      </div>
                      <div class="error-message-2 w-form-fail">
                        <div>Bitte füllen Sie alle Felder die mit einem "*" markiert sind aus.</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <a href="#" class="speichernbutton w-button">speichern</a>
            </div>
          </div>
          <div class="w-col w-col-4 w-col-stack">
            <div class="smdatenhead">
              <div class="ihrepartner">Social Media Verlinkungen</div>
            </div>
            <div class="smlinkwrapper">
              <div class="daten">Kontaktdaten</div>
              <div class="kontaktdaten2">
                <div class="formfieldname-2">Linkedin</div>
                <div class="datashow">link</div>
                <div class="formfieldname-2">Xing</div>
                <div class="datashow">link</div>
                <div class="formfieldname-2">Instagram</div>
                <div class="datashow">link</div>
                <div class="formfieldname-2">Twitter</div>
                <div class="datashow">link</div>
                <div class="formfieldname-2">Facebook</div>
                <div class="datashow">link</div>
              </div>
            </div>
          </div>
        </div>
        <div class="ihr-portfoliohead">
          <div class="ihrepartner">Ihr Portfolio</div>
        </div>
        <div class="dppprofil w-row">
          <div class="dienstleistungen w-col w-col-4 w-col-stack">
            <div class="dienstleistungenwrapper">
              <div class="top-1">
                <div class="d-count-copy">3</div>
                <div class="d-txt-2">Dienstleistungen</div>
              </div>
              <div class="dienstleitungen-inhalt">
                <div class="dienstleistungsitem">
                  <div class="head">Blech 08/15</div>
                  <div class="werkstoff">
                    <div class="werkstoffnrtag">Werkstoffnr.:</div>
                    <div class="werkstoffnr">4563820</div>
                  </div>
                  <div class="astm">
                    <div class="astmtag">ASTM-Bez.:</div>
                    <div class="astm-bez">AF7FH</div>
                  </div>
                  <div class="handelsname">
                    <div class="handelsnametag">Handelsname:</div>
                    <div class="handelsname">KA1BU3</div>
                  </div>
                </div>
                <div class="dienstleistungsitem">
                  <div class="head">Blech 08/15</div>
                  <div class="werkstoff">
                    <div class="werkstoffnrtag">Werkstoffnr.:</div>
                    <div class="werkstoffnr">4563820</div>
                  </div>
                  <div class="astm">
                    <div class="astmtag">ASTM-Bez.:</div>
                    <div class="astm-bez">AF7FH</div>
                  </div>
                  <div class="handelsname">
                    <div class="handelsnametag">Handelsname:</div>
                    <div class="handelsname">KA1BU3</div>
                  </div>
                </div>
                <div class="dienstleistungsitem">
                  <div class="head">Blech 08/15</div>
                  <div class="werkstoff">
                    <div class="werkstoffnrtag">Werkstoffnr.:</div>
                    <div class="werkstoffnr">4563820</div>
                  </div>
                  <div class="astm">
                    <div class="astmtag">ASTM-Bez.:</div>
                    <div class="astm-bez">AF7FH</div>
                  </div>
                  <div class="handelsname">
                    <div class="handelsnametag">Handelsname:</div>
                    <div class="handelsname">KA1BU3</div>
                  </div>
                </div>
                <div class="dienstleistungsitem">
                  <div class="head">Blech 08/15</div>
                  <div class="werkstoff">
                    <div class="werkstoffnrtag">Werkstoffnr.:</div>
                    <div class="werkstoffnr">4563820</div>
                  </div>
                  <div class="astm">
                    <div class="astmtag">ASTM-Bez.:</div>
                    <div class="astm-bez">AF7FH</div>
                  </div>
                  <div class="handelsname">
                    <div class="handelsnametag">Handelsname:</div>
                    <div class="handelsname">KA1BU3</div>
                  </div>
                </div>
              </div>
              <div class="div-block-3">
                <a href="#" class="bearbeiten-fett-button w-button">bearbeiten</a>
              </div>
            </div>
          </div>
          <div class="produkte w-col w-col-4 w-col-stack">
            <div class="produktwrapper">
              <div class="top-1">
                <div class="p-count-1">22</div>
                <div class="p-txt-2">Produkte</div>
              </div>
              <div class="produkte-inhalt">
                <div class="produktitem">
                  <div class="head">Blech 08/15</div>
                  <div class="werkstoff">
                    <div class="werkstoffnrtag">Werkstoffnr.:</div>
                    <div class="werkstoffnr">4563820</div>
                  </div>
                  <div class="astm">
                    <div class="astmtag">ASTM-Bez.:</div>
                    <div class="astm-bez">AF7FH</div>
                  </div>
                  <div class="handelsname">
                    <div class="handelsnametag">Handelsname:</div>
                    <div class="handelsname">KA1BU3</div>
                  </div>
                </div>
                <div class="produktitem">
                  <div class="head">Blech 08/15</div>
                  <div class="werkstoff">
                    <div class="werkstoffnrtag">Werkstoffnr.:</div>
                    <div class="werkstoffnr">4563820</div>
                  </div>
                  <div class="astm">
                    <div class="astmtag">ASTM-Bez.:</div>
                    <div class="astm-bez">AF7FH</div>
                  </div>
                  <div class="handelsname">
                    <div class="handelsnametag">Handelsname:</div>
                    <div class="handelsname">KA1BU3</div>
                  </div>
                </div>
                <div class="produktitem">
                  <div class="head">Blech 08/15</div>
                  <div class="werkstoff">
                    <div class="werkstoffnrtag">Werkstoffnr.:</div>
                    <div class="werkstoffnr">4563820</div>
                  </div>
                  <div class="astm">
                    <div class="astmtag">ASTM-Bez.:</div>
                    <div class="astm-bez">AF7FH</div>
                  </div>
                  <div class="handelsname">
                    <div class="handelsnametag">Handelsname:</div>
                    <div class="handelsname">KA1BU3</div>
                  </div>
                </div>
                <div class="produktitem">
                  <div class="head">Blech 08/15</div>
                  <div class="werkstoff">
                    <div class="werkstoffnrtag">Werkstoffnr.:</div>
                    <div class="werkstoffnr">4563820</div>
                  </div>
                  <div class="astm">
                    <div class="astmtag">ASTM-Bez.:</div>
                    <div class="astm-bez">AF7FH</div>
                  </div>
                  <div class="handelsname">
                    <div class="handelsnametag">Handelsname:</div>
                    <div class="handelsname">KA1BU3</div>
                  </div>
                </div>
              </div>
              <div class="div-block-3">
                <a href="#" class="bearbeiten-fett-button w-button">bearbeiten</a>
              </div>
            </div>
          </div>
          <div class="produktionsverfahren w-col w-col-4 w-col-stack">
            <div class="produktionsverfahren-wrapper empty">
              <div class="top-1 empty">
                <div class="p2-count-1">0</div>
                <div class="p2-txt-2">Produktionsverfahren</div>
              </div>
              <div class="produktionsverfahren-inhalt empty">
                <div class="produktionsverfahren-item">
                  <div class="head">Blech 08/15</div>
                  <div class="werkstoff">
                    <div class="werkstoffnrtag">Werkstoffnr.:</div>
                    <div class="werkstoffnr">4563820</div>
                  </div>
                  <div class="astm">
                    <div class="astmtag">ASTM-Bez.:</div>
                    <div class="astm-bez">AF7FH</div>
                  </div>
                  <div class="handelsname">
                    <div class="handelsnametag">Handelsname:</div>
                    <div class="handelsname">KA1BU3</div>
                  </div>
                </div>
              </div>
              <div class="div-block-3 empty">
                <a href="#" class="bearbeiten-fett-button w-button">bearbeiten</a>
              </div>
              <a href="#" class="hinzuf-genbutton w-button">hinzufügen</a>
            </div>
          </div>
        </div>
        <div class="ihre-partner-head">
          <div class="ihrepartner">Ihre Partner</div>
        </div>
        <div class="ihrepartnerwrapper">
          <div class="ihrepartnerpartner">
            <div class="partnerlogo"><img src="images/stock-vector-line-cloud-logo-icon-1033660648.jpg" loading="lazy" sizes="(max-width: 479px) 13vw, (max-width: 767px) 14vw, (max-width: 991px) 10vw, (max-width: 1279px) 11vw, (max-width: 1919px) 10vw, 159px" srcset="images/stock-vector-line-cloud-logo-icon-1033660648-p-800.jpeg 800w, images/stock-vector-line-cloud-logo-icon-1033660648-p-1080.jpeg 1080w, images/stock-vector-line-cloud-logo-icon-1033660648.jpg 1500w" alt="" width="159"></div>
            <div class="partner-discription w-clearfix">
              <h4 class="partnername">ABC GmbH</h4>
              <div class="country">DE</div>
              <div class="partnertag">Händler</div>
              <div class="comma">,</div>
              <div class="partnertag">Dienstleister</div>
              <div class="comma">,</div>
              <div class="partnertag">Lagerhalle</div>
            </div>
            <div class="partnerinteraction-big">
              <a href="#" class="profilbutton-big w-inline-block">
                <div class="text-block-14"></div>
                <div class="text-block-15">Profil</div>
              </a>
              <a href="#" class="anfragebutton-big w-inline-block w-clearfix">
                <div class="text-block-16"></div>
                <div class="text-block-17">Anfrage</div>
              </a>
              <a href="#" class="partnerschaftl-senbutton w-inline-block">
                <div class="text-block-18"></div>
                <div class="text-block-19">Partnerschaft lösen</div>
              </a>
            </div>
          </div>
          <div class="ihrepartnerpartner">
            <div class="partnerlogo"><img src="images/stock-vector-line-cloud-logo-icon-1033660648.jpg" loading="lazy" sizes="(max-width: 479px) 13vw, (max-width: 767px) 14vw, (max-width: 991px) 10vw, (max-width: 1279px) 11vw, (max-width: 1919px) 10vw, 159px" srcset="images/stock-vector-line-cloud-logo-icon-1033660648-p-800.jpeg 800w, images/stock-vector-line-cloud-logo-icon-1033660648-p-1080.jpeg 1080w, images/stock-vector-line-cloud-logo-icon-1033660648.jpg 1500w" alt="" width="159"></div>
            <div class="partner-discription w-clearfix">
              <h4 class="partnername">ABC GmbH</h4>
              <div class="country">DE</div>
              <div class="partnertag">Händler</div>
              <div class="comma">,</div>
              <div class="partnertag">Dienstleister</div>
              <div class="comma">,</div>
              <div class="partnertag">Lagerhalle</div>
            </div>
            <div class="partnerinteraction-big">
              <a href="#" class="profilbutton-big w-inline-block">
                <div class="text-block-14"></div>
                <div class="text-block-15">Profil</div>
              </a>
              <a href="#" class="anfragebutton-big w-inline-block w-clearfix">
                <div class="text-block-16"></div>
                <div class="text-block-17">Anfrage</div>
              </a>
              <a href="#" class="partnerschaftl-senbutton w-inline-block">
                <div class="text-block-18"></div>
                <div class="text-block-19">Partnerschaft lösen</div>
              </a>
            </div>
          </div>
          <div class="ihrepartnerpartner">
            <div class="partnerlogo"><img src="images/stock-vector-line-cloud-logo-icon-1033660648.jpg" loading="lazy" sizes="(max-width: 479px) 13vw, (max-width: 767px) 14vw, (max-width: 991px) 10vw, (max-width: 1279px) 11vw, (max-width: 1919px) 10vw, 159px" srcset="images/stock-vector-line-cloud-logo-icon-1033660648-p-800.jpeg 800w, images/stock-vector-line-cloud-logo-icon-1033660648-p-1080.jpeg 1080w, images/stock-vector-line-cloud-logo-icon-1033660648.jpg 1500w" alt="" width="159"></div>
            <div class="partner-discription w-clearfix">
              <h4 class="partnername">ABC GmbH</h4>
              <div class="country">DE</div>
              <div class="partnertag">Händler</div>
              <div class="comma">,</div>
              <div class="partnertag">Dienstleister</div>
              <div class="comma">,</div>
              <div class="partnertag">Lagerhalle</div>
            </div>
            <div class="partnerinteraction-big">
              <a href="#" class="profilbutton-big w-inline-block">
                <div class="text-block-14"></div>
                <div class="text-block-15">Profil</div>
              </a>
              <a href="#" class="anfragebutton-big w-inline-block w-clearfix">
                <div class="text-block-16"></div>
                <div class="text-block-17">Anfrage</div>
              </a>
              <a href="#" class="partnerschaftl-senbutton w-inline-block">
                <div class="text-block-18"></div>
                <div class="text-block-19">Partnerschaft lösen</div>
              </a>
            </div>
          </div>
        </div>
        <div class="zulassungen-zertifikate w-row">
          <div class="zertifikatecolumn w-col w-col-6 w-col-stack">
            <div class="zertifikate-head">
              <div class="ihrepartner">Zertifikate</div>
            </div>
            <div class="zertifikatewrapper">
              <div class="zertifikat">
                <div class="iconz-big"></div>
                <div class="zertifikat-descprition">Zertifikat XYZ 1277</div>
                <div class="uploaddate">Upload 13.12.18</div>
                <a href="#" class="anzeigenbutton w-button">anzeigen</a>
                <a href="#" class="trashbutton w-button"></a>
              </div>
              <div class="zertifikat">
                <div class="iconz-big"></div>
                <div class="zertifikat-descprition">Zertifikat XYZ 1277</div>
                <div class="uploaddate">Upload 13.12.18</div>
                <a href="#" class="anzeigenbutton w-button">anzeigen</a>
                <a href="#" class="trashbutton w-button"></a>
              </div>
              <div class="zertifikat">
                <div class="iconz-big"></div>
                <div class="zertifikat-descprition">Zertifikat XYZ 1277</div>
                <div class="uploaddate">Upload 13.12.18</div>
                <a href="#" class="anzeigenbutton w-button">anzeigen</a>
                <a href="#" class="trashbutton w-button"></a>
              </div>
              <div class="zertifikat">
                <div class="iconz-big"></div>
                <div class="zertifikat-descprition">Zertifikat XYZ 1277</div>
                <div class="uploaddate">Upload 13.12.18</div>
                <a href="#" class="anzeigenbutton w-button">anzeigen</a>
                <a href="#" class="trashbutton w-button"></a>
              </div>
              <div class="zertifikat">
                <div class="iconz-big"></div>
                <div class="zertifikat-descprition">Zertifikat XYZ 1277</div>
                <div class="uploaddate">Upload 13.12.18</div>
                <a href="#" class="anzeigenbutton w-button">anzeigen</a>
                <a href="#" class="trashbutton w-button"></a>
              </div>
              <div class="zertifikat">
                <div class="iconz-big"></div>
                <div class="zertifikat-descprition">Zertifikat XYZ 1277</div>
                <div class="uploaddate">Upload 13.12.18</div>
                <a href="#" class="anzeigenbutton w-button">anzeigen</a>
                <a href="#" class="trashbutton w-button"></a>
              </div>
              <div class="zertifikat">
                <div class="iconz-big"></div>
                <div class="zertifikat-descprition">Zertifikat XYZ 1277</div>
                <div class="uploaddate">Upload 13.12.18</div>
                <a href="#" class="anzeigenbutton w-button">anzeigen</a>
                <a href="#" class="trashbutton w-button"></a>
              </div>
            </div>
            <a href="#" class="hinzuf-genbutton-2 w-button">Zertifikat hinzufügen</a>
          </div>
          <div class="zulassungscolumn w-col w-col-6 w-col-stack">
            <div class="zulassungen-head">
              <div class="ihrepartner">Zulassungen</div>
            </div>
            <div class="zulassungswrapper">
              <div class="zulassugen">
                <div class="iconz2-big"></div>
                <div class="zulassunge-description">KAB2890-LO</div>
                <div class="uploaddate">Upload 13.12.18</div>
                <a href="#" class="anzeigenbutton w-button">anzeigen</a>
                <a href="#" class="trashbutton w-button"></a>
              </div>
              <div class="zulassugen">
                <div class="iconz2-big"></div>
                <div class="zulassunge-description">KAB2890-LO</div>
                <div class="uploaddate">Upload 13.12.18</div>
                <a href="#" class="anzeigenbutton w-button">anzeigen</a>
                <a href="#" class="trashbutton w-button"></a>
              </div>
              <div class="zulassugen">
                <div class="iconz2-big"></div>
                <div class="zulassunge-description">KAB2890-LO</div>
                <div class="uploaddate">Upload 13.12.18</div>
                <a href="#" class="anzeigenbutton w-button">anzeigen</a>
                <a href="#" class="trashbutton w-button"></a>
              </div>
              <div class="zulassugen">
                <div class="iconz2-big"></div>
                <div class="zulassunge-description">KAB2890-LO</div>
                <div class="uploaddate">Upload 13.12.18</div>
                <a href="#" class="anzeigenbutton w-button">anzeigen</a>
                <a href="#" class="trashbutton w-button"></a>
              </div>
              <div class="zulassugen">
                <div class="iconz2-big"></div>
                <div class="zulassunge-description">KAB2890-LO</div>
                <div class="uploaddate">Upload 13.12.18</div>
                <a href="#" class="anzeigenbutton w-button">anzeigen</a>
                <a href="#" class="trashbutton w-button"></a>
              </div>
              <div class="zulassugen">
                <div class="iconz2-big"></div>
                <div class="zulassunge-description">KAB2890-LO</div>
                <div class="uploaddate">Upload 13.12.18</div>
                <a href="#" class="anzeigenbutton w-button">anzeigen</a>
                <a href="#" class="trashbutton w-button"></a>
              </div>
              <div class="zulassugen">
                <div class="iconz2-big"></div>
                <div class="zulassunge-description">KAB2890-LO</div>
                <div class="uploaddate">Upload 13.12.18</div>
                <a href="#" class="anzeigenbutton w-button">anzeigen</a>
                <a href="#" class="trashbutton w-button"></a>
              </div>
            </div>
            <a href="#" class="hinzuf-genbutton-2 w-button">Zertifikat hinzufügen</a>
          </div>
        </div>
      </div>
    </div>