<div class="front-side">
  <div class="color-grid">
    <div class="black"></div>
    <div class="red1"></div>
    <div class="red2"></div>
    <div class="green"></div>
  </div>
  <div class="info-grid">
    <div class="name">
      <h2><%= company_card.company_name %></h2>
      <h5>CREATIVE GRAPHIC DESIGNER</h5>
    </div>
    <div class="addr">

      <p>1/2 Street,
        <strong> City</strong>, State,
        <strong> Country</strong>
      </p>
    </div>
    <div class="phoneNo">

      <p>+000
        <strong>1234</strong> 4567 7896</p>
    </div>
    <div class="emailId">

      <p class="email">yourusername@
        <strong>email</strong>.com</p>
      <p class="web">
        <strong>www</strong>.yourwebsite.
        <strong>com</strong>
      </p>
    </div>
  </div>
</div>
